<h1>Genres index</h1>
  <table>
    <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <th><%= genre.name %></th>
        <th><%= link_to 'Edit', edit_genre_path(genre), class: 'btn btn-outline-info btn-sm'  %></th>
        <th><%= link_to 'Destroy', genre, method: :delete, class: 'btn btn-outline-danger btn-sm'  %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
<br>
<%= link_to 'New genre', new_genre_path, class: 'btn btn-primary' %><br><br>
<%= link_to 'Main Page', homes_top_path, class: 'btn btn-primary'  %><br><br>
<%= link_to 'Question Index', questions_path, class: 'btn btn-primary' %>
