<%= form_with model: @question do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>
  <a><%= f.label :year %><br>
  <button class="btn btn-danger">A.D.</button>
  <%= f.text_field :year %></a><br><br>
  <%= f.label :month %>
  <%= f.select :month, [["1月",1],["2月",2],["3月",3],["4月",4],["5月",5],["6月",6],["7月",7],
  ["8月",8],["9月",9],["10月",10],["11月",11],["12月",12]] %><br>


  <h4>Genre</h4>
  <%  @genres.each do |genre| %> 
    <%= "* " + genre.name %>
  <% end %>
  <br><br>
  <%= f.label :memo %><br>
  <%= f.text_area :memo %><br><br>
  <%= f.submit %>
<% end %>