<h1>Show Question</h1>
<p>できごと:
<%= @question.name %></p>
<p>起こった年月:
<%= @question.year %> 年　<%= @question.month %>月</p>
<p>うんちく:
<%= @question.memo %></p>
<p>作成者: 
<%= @question.user.name %></p>

<%= link_to 'Edit', edit_question_path(@question), class: 'btn btn-primary' %>
<%= link_to 'Back', questions_path, class: 'btn btn-primary' %>