<h1>Message show </h1>
<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="message-text">
    <p><strong>Title</strong>：<%= @message.title %></p>
    <p><strong>Content</strong>：<%= @message.content %></p>
  </div>
  <p>Follow Comments</p>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, message: @message } %>
  </div>
  <%= render partial: 'comments/form', locals: { comment: @comment, message: @message } %>
  <%= link_to 'edit', edit_message_path(@message) %> |
  <%= link_to 'back', messages_path %>
</div>